<label for="menu-toggle" class="sidebar-close-button">&lt;</label>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Todo List
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="persons">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Persons
            </NavLink>
        </div>
    </nav>
</div>

<div class="sidebar-logo">
    <a href="">
        <img src="/images/doit-logo.png" alt="Doit" />
    </a>
</div>
