@using Microsoft.AspNetCore.Identity
@using DoitBlazor.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var currentPage = ViewContext.RouteData.Values["page"]?.ToString() ?? "";
    var isRegisterPage = currentPage.Contains("/Account/Register", StringComparison.OrdinalIgnoreCase);
    var isLoginPage = currentPage.Contains("/Account/Login", StringComparison.OrdinalIgnoreCase);
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark @(isRegisterPage ? "active" : "")" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark @(isLoginPage ? "active" : "")" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
